<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Геотест{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% set orderId = app.request.cookies.get('order_id') %}
{% if orderId and done is not defined %}
    {% set total = getTotal(orderId) %}
    <div class="header-order">
        <div class="order-total">
            <div id="order_total">
                <span class="hidden-xs">Ваш заказ:&nbsp;</span>
                {{ total|format_rub|raw }}
            </div>
            <div id="btn_order_total">
                <a href="{{ path('app_order', {'orderId': orderId}) }}">Состав заказа</a>
                <a href="{{ path('app_order', {'orderId': orderId}) }}" class="btn btn-primary btn-sm">Оформить</a>
            </div>
        </div>
    </div>
{% endif %}
<div class="mobile-menu visible-xs" id="mobile_menu" style="display: none;">
    <div class="mobile-menu-close-btn" id="mobile_menu_close_btn"></div>
    {% include('menu.html.twig') %}
</div>
{% include('header.html.twig') %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% include('footer.html.twig') %}

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel();
        });

        const mobileMenuBtn = document.getElementById('mobile_menu_btn');
        const mobileMenu = document.getElementById('mobile_menu');
        const mobileMenuCloseBtn = document.getElementById('mobile_menu_close_btn');

        mobileMenuBtn.addEventListener('click', function (e) {
            e.preventDefault();

            document.body.classList.add('no-scroll');
            mobileMenu.style.display = 'block';
        });

        mobileMenuCloseBtn.addEventListener('click', function (e) {
            e.preventDefault();

            document.body.classList.remove('no-scroll');
            mobileMenu.style.display = 'none';
        });
    });
</script>
</body>
</html>
