<table width="600" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
       style="border-collapse:collapse;">
    <tr>
        <td>
            <h2>Заказ № {{ id }} от {{ "now"|date("d.m.Y") }}</h2>
            <p><b>Контактные данные:</b></p>
            <div style="padding-left:20px;">Организация: {{ contact.firm }}</div>
            <div style="padding-left:20px;">Контактное лицо: {{ contact.fio }}</div>
            <div style="padding-left:20px;">Телефон: {{ contact.phone }}</div>
            <div style="padding-left:20px;">Электронная почта: {{ contact.email }}</div>
            <div style="padding-left:20px;">Адрес: {{ contact.address }}</div>
            <div style="padding-left:20px;">Дополнительные сведения: {{ contact.comment }}</div>
            <div style="padding-left:20px;">Способ доставки: {{ contact.delivery }}</div>
            <br>
            <p><b>Состав заказа:</b></p>
            <table width="100%" cellpadding="10" cellspacing="0" style="border-collapse:collapse; border:0;">
                {% set total = 0 %}
                {% if variants is defined %}
                    {% for variant in variants %}
                        {% set complect_total = 0 %}
                        {% set diff_str = '' %}
                        {% for row in variant.rows %}
                            {% set complect_total = complect_total + ((row.cnt + row.diff) * row.price) %}
                            {% if row.cnt+ row.diff %}
                                {% set diff_str = diff_str ~ '<tr><td valign="top" style="padding-left: 20px;">' ~ row.name ~ ' ' ~ ((row.type and row.type == 'k') ? row.idk : row.idl) ~ '</td><td valign="top" align="right">' ~ (row.cnt + row.diff) ~ '&nbsp;шт.</td></tr>' %}
                            {% endif %}
                        {% endfor %}
                        {% if diff_str %}
                            {% set diff_str = '<table width="100%" cellpadding="5" cellspacing="0" style="border-collapse:collapse; border:0;margin-top:5px;">' ~ diff_str ~ '</table>' %}
                        {% endif %}
                        <tr>
                            <td valign="top">
                                <b>{{ variant.name }}</b>
                                {% if variant.type %}
                                    <br><i>Тип соединительной
                                    резьбы: {{ variant.type== 'k' ? 'коническая' : 'ленточная' }}</i>
                                {% endif %}
                                {{ diff_str|raw }}
                            </td>
                            <td valign="top" align="right">
                                <b>{{ variant.price|format_rub|raw }}&nbsp;руб.</b>
                            </td>
                            <td valign="top" align="right">
                                <b>{{ variant.cnt }}&nbsp;шт.</b>
                            </td>
                            <td valign="top" align="right">
                                <b>{{ (variant.price * variant.cnt)|format_rub|raw }}&nbsp;руб.</b>
                            </td>
                        </tr>
                        {% set total = total + (complect_total * variant.cnt) %}
                    {% endfor %}
                {% endif %}
                {% if rows is defined %}
                    {% for row in rows %}
                        {% set total = total + (row.cnt * row.price) %}
                        <tr>
                            <td valign="top">
                                <b>{{ row.name }}</b>
                                {% if row.type %}
                                    <br><i>Тип соединительной
                                    резьбы: {{ row.type == 'k' ? 'коническая' : 'ленточная' }}</i>
                                {% endif %}
                            </td>
                            <td valign="top" align="right">
                                <b>{{ row.price|format_rub|raw }}&nbsp;руб.</b>
                            </td>
                            <td valign="top" align="right">
                                <b>{{ row.cnt }}&nbsp;шт.</b>
                            </td>
                            <td valign="top" align="right">
                                <b>{{ (row.price * row.cnt)|format_rub|raw }}&nbsp;руб.</b>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
            <br>
            <p><b>Итоговая сумма: {{ orderTotal|format_rub|raw }}&nbsp;руб.</b></p>
            <p>НДС&nbsp;&mdash; не&nbsp;предусмотрен. Упрощенная система налогообложения (Глава&nbsp;26.2 Налогового
                кодекса&nbsp;РФ).</p>
            <br>
            <br>
            <p>Телефоны: {{ info['phones'] }}</p>
            <p>E-mail: {{ info['email'] }}</p>
        </td>
    </tr>
</table>
