{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form,
        {
            'action': path('app_order_save', {orderId:orderId}),
            'attr': {'class': 'form',
        }}) }}
    {{ form_widget(form._token) }}
    {{ form_widget(form.id) }}
    <div class="order-form">
        <div class="order-form-left">
            <h1 class="visible-xs">Ваш заказ: <span id="order_total2"
                                                    class="row-sum">{{ order_total|format_rub|raw }}</span></h1>

            <p class="visible-xs">НДС&nbsp;&mdash; не&nbsp;предусмотрен. Упрощенная система налогообложения (Глава&nbsp;26.2
                Налогового кодекса&nbsp;РФ).</p>

            {% for variant in form.ordersVariants %}
                {% set entity = variant.vars.value %}
                <div class="variant">
                    <div class="order-complect" id="row_{{ entity.id }}">
                        <div>
                            <a class="order-complect-title"
                               href="{{ path('app_complect', {id : entity.variantId} ) }}">{{ entity.name }}</a>
                            {% if entity.type is defined %}
                                <p>
                                    <i>
                                        {% if entity.type == 'k' %}
                                            Тип соединительной резьбы: коническая
                                        {% elseif entity.type == 'l' %}
                                            Тип соединительной резьбы: ленточная
                                        {% endif %}
                                    </i>
                                </p>
                            {% endif %}
                            {% for row in entity.getRows() %}
                                {% if row.getDiff() %}
                                    <div class="order-complect-diff">
                                        {% if row.getDiff() > 0 %}
                                            <span class="text-green">+</span>
                                        {% else %}
                                            <span class="text-red">-</span>
                                        {% endif %}
                                        &nbsp;{{ row.name }} &mdash; {{ row.getDiff() }}&nbsp;шт.
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="order-complect-row">
                            <div class="order-complect-row-price">
                                <div class="label">Стоимость комплекта</div>
                                <div>{{ entity.getPrice|format_rub|raw }}
                                    <input type="hidden" class="price"
                                           value="{{ entity.getPrice }}">
                                </div>
                            </div>
                            <div class="order-complect-row-count-sum">
                                <div class="order-complect-row-count">
                                    <div class="label">Кол-во комплектов</div>
                                    <div>
                                        <a href="#" class="btn-delete" title="Удалить"
                                           onclick="deleteItem({{ entity.getId }}, 'variant'); return false;"></a>
                                        {{ form_widget(variant.cnt) }}&nbsp;шт
                                        {#                                        {% if errors %} #}
                                        {#                                            #}
                                        {#                                        {% endif %} #}
                                        {#                                        <ul> #}
                                        {#                                            <li class="error_list"></li> #}
                                        {#                                        </ul> #}
                                    </div>
                                </div>
                                <div class="order-complect-row-sum">
                                    <div class="label">Итого</div>
                                    <div><strong>{{ (entity.getPrice()*entity.getCnt())|format_rub|raw }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for row in form.ordersRows %}
                {% set entity = row.vars.value %}
                <div class="variant">
                    <div class="order-row" id="row_{{ entity.id }}">
                        <div>
                            <a class="order-complect-title"
                               href="{{ path('app_row_show', {rowId : entity.rowId} ) }}">{{ entity.name }}</a>
                            {% if entity.type is defined %}
                                <p>
                                    <i>
                                        {% if entity.type == 'k' %}
                                            Тип соединительной резьбы: коническая
                                        {% elseif entity.type == 'l' %}
                                            Тип соединительной резьбы: ленточная
                                        {% endif %}
                                    </i>
                                </p>
                            {% endif %}
                        </div>
                        <div class="order-complect-row">
                            <div class="order-complect-row-price">
                                <div class="label">Стоимость комплекта</div>
                                <div>{{ entity.getRow.getPrice|format_rub|raw }}
                                    {{ form_widget(row.price) }}
                                </div>
                            </div>
                            <div class="order-complect-row-count-sum">
                                <div class="order-complect-row-count">
                                    <div class="label">Кол-во комплектов</div>
                                    <div>
                                        <a href="#" class="btn-delete" title="Удалить"
                                           onclick="deleteItem({{ entity.getId }}, 'row'); return false;"></a>
                                        {{ form_widget(row.cnt) }}&nbsp;шт
                                    </div>
                                </div>
                                <div class="order-complect-row-sum">
                                    <div class="label">Итого</div>
                                    <div><strong>{{ (entity.getRow.getPrice*entity.getCnt())|format_rub|raw }}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="order-form-right">
            <h1 class="hidden-xs">Ваш заказ:<br>
                <span id="order_total2" class="row-sum">{{ order_total|format_rub|raw }}</span></h1>

            <p class="hidden-xs">НДС&nbsp;&mdash; не&nbsp;предусмотрен. Упрощенная система налогообложения
                (Глава&nbsp;26.2
                Налогового кодекса&nbsp;РФ).</p>

            <div class="form-row {% if form.fio.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_widget(form.fio) }}
                {% if form.fio.vars.errors|length > 0 %}
                    {% for error in form.fio.vars.errors %}
                        <div class="error-text">   {{ error.message }}<br>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                {{ form_widget(form.firm) }}
                {{ form_errors(form.firm) }}
            </div>
            <div class="form-row">
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>
            <div class="form-row {% if form.email.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_widget(form.email) }}
                {% if form.email.vars.errors|length > 0 %}
                    {% for error in form.email.vars.errors %}
                        <div class="error-text">   {{ error.message }}<br>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                {{ form_widget(form.address) }}
                {{ form_errors(form.address) }}
            </div>
            <div class="form-row">
                {{ form_widget(form.comment) }}
                {{ form_errors(form.comment) }}
            </div>
            <div class="form-row">
                <label for="orders_delivery">Способ доставки</label>
                <ul class="radio_list">
                    {% for child in form.delivery %}
                        <li>
                            {{ form_widget(child) }}
                            {{ form_label(child) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(form.delivery) }}
            </div>

            <div class="form-row">

                <div class="form-row">
                    {{ form_widget(form.terms) }}
                    <span style="font-size: 15px">Я&nbsp;даю свое согласие на&nbsp;обработку моих персональных данных,
                    в&nbsp;соответствии с&nbsp;Федеральным законом от&nbsp;27.07.2006 года &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo;, на&nbsp;условиях и&nbsp;для целей, определенных в&nbsp;
                </span>
                    <div class="terms">
                        <div class="overview-link" style="display: inline; font-size: 15px">
                            <a href="#">Согласии на&nbsp;обработку персональных данных</a>
                        </div>
                        <div class="overview-popup">
                            <div class="overview-popup-text">
                                <div class="overview-popup-close"></div>
                                {{ include('html/terms.htm') }}
                            </div>
                        </div>
                    </div>

                    {% if form.terms.vars.errors|length > 0 %}
                        {% for error in form.terms.vars.errors %}
                            <div class="error-text">{{ error.message }}<br>
                        {% endfor %}
                        </div>
                    {% endif %}

                </div>

                {{ form_rest(form) }}
                {#            {{ form_widget(form.save, { #}
                {#                'attr': {'class': 'btn btn-primary btn-lg w100 btn_order'} #}
                {#            }) }} #}
                <p class="text-center">Мы свяжемся с вами в течение рабочего дня</p>
            </div>
        </div>
    </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const overviewLink = document.querySelector('.overview-link');
            const overviewPopup = document.querySelector('.overview-popup');
            const overviewPopupClose = document.querySelector('.overview-popup-close');
            const overviewPopupText = document.querySelector('.overview-popup-text');

            overviewLink.addEventListener('click', function (e) {
                overviewPopup.style.display = 'block';
                document.body.classList.add('no-scroll');
                e.stopPropagation();
            });

            overviewPopupClose.addEventListener('click', function (e) {
                overviewPopup.style.display = 'none';
                document.body.classList.remove('no-scroll');
                e.stopPropagation();
            });

            overviewPopupText.addEventListener('click', function (e) {
                e.stopPropagation();
            });

            window.addEventListener('click', function () {
                overviewPopup.style.display = 'none';
                document.body.classList.remove('no-scroll');
            });


            const firstError = document.querySelector('.has-error, .error-text');
            if (firstError) {
                firstError.scrollIntoView({
                    behavior: 'smooth',
                    block: 'center'
                });

                const errorInput = firstError.querySelector('input, textarea');
                if (errorInput) {
                    errorInput.focus();
                }
            }
        });


        function deleteItem(itemId, type) {
            if (confirm('Удалить?')) {
                let route;
                if (type === 'variant') {
                    route = '{{ path('app_order_delete_variant', {'id': '__ITEM_ID__'}) }}';
                } else if (type === 'row') {
                    route = '{{ path('app_order_delete_row', {'id': '__ITEM_ID__'}) }}';
                }
                fetch(route.replace('__ITEM_ID__', itemId), {
                    method: 'POST'
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Order deleted successfully');
                            location.reload();
                        } else {
                            console.log('Failed to delete order');
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        }
    </script>
{% endblock %}