{% for index, f in form %}
    <div class="variant{{ params.variants[index].is_base ? ' open' : '' }}"
         data-id="{{ params.variants[index].entity.id }}">
        <div class="variant-header">
            <div class="variant-toggle"></div>
            <div class="variant-name">{{ params.variants[index].entity.name }}</div>
            <div class="variant-price">от {{ params.variants[index].entity.priceBase|format_rub|raw }}</div>
        </div>
        {#                <form class="variant-form" method="post" action="{{ path('app_complect_order') }}" #}
        {#                      id="form_order_{{ index }}"> #}
        {#                    <h3 class="hidden-xs">Состав комплекта</h3> #}
        {{ form_start(f,
            {'action': path('app_complect_order'),
                'method': 'POST',
                'attr': {'class': 'variant-form',
                'id': 'form_order_'~ index
            }}) }}
        <h3 class="hidden-xs">Состав комплекта</h3>
        {% for variant_row in f.base %}
            <div class="row variant-row">
                <div class="variant-row-name">
                    {{ form_widget(variant_row.row) }}
                </div>
                <div class="variant-row-count-sum">
                    <div class="variant-row-count row-count">
                        {{ form_widget(variant_row.cnt) }}
                        {{ form_widget(variant_row.base_count) }}
                        {#                            <div>'.$undo_button.'</div> #}
                    </div>
                    <div class="variant-row-sum row-sum">
                        {{ (variant_row.cnt.vars.value * variant_row.row.price.vars.value)|format_rub|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if f.not_base|length %}
            <h3>Дополнительные комплектующие</h3>
            {% for variant_row in f.not_base %}
                <div class="row variant-row">
                    {{ form_row(variant_row) }}
                </div>
            {% endfor %}
        {% endif %}

        {% if f.type is defined %}
            <h4>Тип соединительной резьбы:</h4>
            {{ form_row(f.type) }}
        {% endif %}

        {#            {% if params.variants[index].carving %} #}
        {#                <h4>Тип соединительной резьбы:</h4> #}
        {#                {{ form.type.renderRow() }} #}
        {#            {% endif %} #}

        <div class="variant-row variant-row-total">
            <div class="variant-row-name">
                <div class="label">Стоимость комплекта</div>
                <div id="variant_price_{{ index }}">
                    {{ params.variants[index].variant_price|format_rub|raw }}
                </div>
            </div>
            <div class="variant-row-count-sum">
                <div class="variant-row-count">
                    <div class="label text-nowrap">Кол-во комплектов</div>
                    <div class="text-nowrap">{{ form_widget(f.count) }}&nbsp;шт</div>
                    <div colspan="2" id="order_status_{{ index }}">
                        {{ params.variants[index].status }}
                    </div>
                </div>
                <div class="variant-row-sum row-sum">
                    <div class="label">Итого</div>
                    <div id="total_price_{{ index }}">
                        <b>{{ (params.variants[index].variant_price * f.count.vars.value)|format_rub|raw }}</b>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(f.save, {
            'attr': {'class': 'btn btn-primary btn-lg w100 btn_order',
                'id': 'btn_order' ~ index ,
                'data-index': index
            }
        }) }}

        {{ form_end(f) }}

        {% if params.variants[index].entity.description %}
            <div class="variant-desc">{{ params.variants[index].entity.description }}</div>
        {% endif %}
    </div>
{% endfor %}